{{ form_start(form) }}
<div class="row">
    <div class="col-md-4">{{ form_row(form.nom_entreprise) }}</div>
    <div class="col-md-4">{{ form_row(form.adresse_email_entreprise) }}</div>
    <div class="col-md-4">{{ form_row(form.adresse_email_suzosky_entreprise) }}</div>
</div>
<div class="row">
    <div class="col-md-4">{{ form_row(form.phone_entreprise) }}</div>
    <div class="col-md-4">{{ form_row(form.phone_suzosky_entreprise) }}</div>
    <div class="col-md-4">{{ form_row(form.adresse_postale) }}</div>
</div>
<div class="row">
    <div class="col-md-12">{{ form_row(form.adresse_geographique) }}</div>
</div>
{{ form_rest(form) }}
<button class="btn btn-primary">{{ button | default('Save') }}</button>
{{ form_end(form) }}