{% extends 'layout.html.twig' %}

{% block title %}Edit Partenaire{% endblock %}

{% block body %}
<div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h1>Edit Partenaire</h1>

    {{ include('admin/partenaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin.partenaire.index') }}">back to list</a>

    {{ include('admin/partenaire/_delete_form.html.twig') }}
</div>
{% endblock %}
