{% extends 'layout.html.twig' %}

{% block title %}Partenaire index{% endblock %}

{% block body %}
<div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h1>Partenaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_entreprise</th>
                <th>Adresse_email_entreprise</th>
                <th>Adresse_email_suzosky_entreprise</th>
                <th>Phone_entreprise</th>
                <th>Phone_suzosky_entreprise</th>
                <th>Adresse_postale</th>
                <th>Adresse_geographique</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partenaire in partenaires %}
            <tr>
                <td>{{ partenaire.id }}</td>
                <td>{{ partenaire.nomEntreprise }}</td>
                <td>{{ partenaire.adresseEmailEntreprise }}</td>
                <td>{{ partenaire.adresseEmailSuzoskyEntreprise }}</td>
                <td>{{ partenaire.phoneEntreprise }}</td>
                <td>{{ partenaire.phoneSuzoskyEntreprise }}</td>
                <td>{{ partenaire.adressePostale }}</td>
                <td>{{ partenaire.adresseGeographique }}</td>
                <td>{{ partenaire.createdAt ? partenaire.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ partenaire.updatedAt ? partenaire.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin.partenaire.show', {'id': partenaire.id}) }}">show</a>
                    <a href="{{ path('admin.partenaire.edit', {'id': partenaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin.partenaire.new') }}">Create new</a>
</div>
{% endblock %}
