{% extends 'layout.html.twig' %}

{% block title %}New Partenaire{% endblock %}

{% block body %}
<div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h1>Create new Partenaire</h1>

    {{ include('admin/partenaire/_form.html.twig') }}

    <a href="{{ path('admin.partenaire.index') }}">back to list</a>
</div>
{% endblock %}
