{% extends 'layout.html.twig' %}

{% block title %}Partenaire{% endblock %}

{% block body %}
<div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h1>Partenaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partenaire.id }}</td>
            </tr>
            <tr>
                <th>Nom_entreprise</th>
                <td>{{ partenaire.nomEntreprise }}</td>
            </tr>
            <tr>
                <th>Adresse_email_entreprise</th>
                <td>{{ partenaire.adresseEmailEntreprise }}</td>
            </tr>
            <tr>
                <th>Adresse_email_suzosky_entreprise</th>
                <td>{{ partenaire.adresseEmailSuzoskyEntreprise }}</td>
            </tr>
            <tr>
                <th>Phone_entreprise</th>
                <td>{{ partenaire.phoneEntreprise }}</td>
            </tr>
            <tr>
                <th>Phone_suzosky_entreprise</th>
                <td>{{ partenaire.phoneSuzoskyEntreprise }}</td>
            </tr>
            <tr>
                <th>Adresse_postale</th>
                <td>{{ partenaire.adressePostale }}</td>
            </tr>
            <tr>
                <th>Adresse_geographique</th>
                <td>{{ partenaire.adresseGeographique }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ partenaire.createdAt ? partenaire.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ partenaire.updatedAt ? partenaire.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin.partenaire.index') }}">back to list</a>

    <a href="{{ path('admin.partenaire.edit', {'id': partenaire.id}) }}">edit</a>

    {{ include('admin/partenaire/_delete_form.html.twig') }}
</div>
{% endblock %}
