{% extends '_base.html.twig' %}
{% block body %}
<!-- Start Contact -->
<section class="contact-map style-1">

    <!-- Start Map Contact -->
    <div id="map-contact1"></div>
    <!-- End Map Contact -->

    <div class="container">

        <!-- Start Contact-Info -->
        <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1">
            <div class="contact-info">
                <ul class="custom-list contact-info-details">
                    <li><b>Concierge HQ</b></li>
                    <li>121 King Street, Melbourne</li>
                    <li>Victoria 3000 Australia</li>
                    <li>Phone: +61 3 8376 6284</li>
                    <li>example@example.com</li>
                </ul>
            </div>
        </div>
        <!-- End Contact-Info -->

        <!-- Start Contact-Form -->
        <div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <div class="contact-form">
                <h5 class="contact-form-title">Send us a message</h5>
                <img src="{{ asset('img/divisor.png') }}" alt="" class="divisor">
                <form action="{{ path('home') }}" class="default-form">
                    <p class="alert-message warning"><i class="ico fa fa-exclamation-circle"></i> All fields are required!</p>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <p class="form-row">
                                <input class="required" type="text" placeholder="Name">
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <p class="form-row">
                                <input class="required" type="text" placeholder="Phone">
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <p class="form-row">
                                <input class="required" type="text" placeholder="Email">
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <p class="form-row">
                                <input class="required" type="text" placeholder="Topic">
                            </p>
                        </div>
                    </div>
                    <p class="form-row">
                        <textarea name="message" placeholder="How we can help?"></textarea>
                    </p>
                    <button class="btn dark">Send Message</button>
                </form>
            </div>
        </div>
        <!-- End Contact-Form -->

    </div>
</section>
<!-- End Contact -->
{% endblock %}