{% extends '_base.html.twig' %}
{% block title 'Ma Conciergerie' %}
{% block body %}

<!-- Start Drivers -->
<section class="drivers">
    <div class="container">
        <div class="row">

            <!-- Start Preamble -->
            <div class="col-lg-12 preamble">
                <h3>Our Drivers</h3>
                <img src="{{ asset('img/divisor.png') }}" alt="" class="divisor">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.</p>
            </div>
            <!-- End Preamble -->

            <!-- Start Drivers-List -->
            <div class="col-lg-6 col-md-6 col-sm-6">
                <ul class="custom-list drivers-profile-list layout-list">
                    {% for driver in drivers %}
                    <li class="driver-profile">
                        <div class="overlay">
                            <div class="thumb driver-thumb">
                                {% if driver.filename %}
                                    <img src="{{ vich_uploader_asset(driver, 'imageFile') | imagine_filter('thumb')}}" alt="" style="width: 100%; height: auto">
                                {% else %}
                                    <img src="{{ 'images/driver/empty.jpg' | imagine_filter('thumb')}}" alt="" style="width: 100%; height: auto">
                                {% endif %}
                            </div>

                            <div class="content driver-profile-content">
                                <header class="driver-profile-header">
                                    <h5>{{ driver.lastname }} {{ driver.firstname }}</h5>
                                    <span>chauffeu</span>
                                </header>
                                <ul class="properties driver-profile-properties">
                                    <li>Years of experience<strong>{{ driver.yearsOfExperience }}</strong></li>
                                    <li>Languages <strong>{{ driver.languages }}</strong> </li>
                                </ul>
                            </div>
                        </div>
                        {% endfor %}

                    </li>

                </ul>
            </div>
            <!-- End Drivers-List -->
        </div>
    </div>
</section>
<!-- End Drivers -->
{% endblock %}