{% extends 'base.html.twig' %}
{% block title 'Ma Conciergerie' %}
{% block body %}
    <!-- Start Header -->
    <header id="header" class="triangle">

        <!-- Menu toggle Mobile -->
        <label id="toggle" class="toggle"></label>

        <!-- Start Banner -->
        <div id="banner">
            <div class="banner-bg">
                <div class="banner-bg-item"><img src="{{ asset('img/banner-bg-1.jpg') }}" alt=""></div>
                <div class="banner-bg-item"><img src="{{ asset('img/banner-bg-2.jpg') }}" alt=""></div>
                <div class="banner-bg-item"><img src="{{ asset('img/banner-bg-3.jpg') }}" alt=""></div>
                <div class="banner-bg-item"><img src="{{ asset('img/banner-bg-4.jpg') }}" alt=""></div>
            </div>

            <!-- Start Header-Inner -->
            <div class="header-inner cleafix">

                <!-- Start Header-Logo -->
                <div class="header-logo">
                    <a href="{{ path('home') }}">
                        <img src="{{ asset('img/logo.png') }}" alt="logo">
                    </a>
                </div>
                <!-- End Header-Logo -->

                <!-- Start Header-Tool-Bar -->
                <div class="header-tool-bar">
                    <div class="container">
                        <div class="row">

                            <!-- Start Header-Left -->
                            <div class="col-lg-4 col-md-5 col-xs-12 header-left">

                                <!-- Start Header-Contact -->
                                <ul class="custom-list header-contact">
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        +1 (123) 456-7890
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        <a href="mailto:example@example.com">
                                            example@example.com
                                        </a>
                                    </li>
                                </ul>
                                <!-- End Header-Contact -->

                            </div>
                            <!-- End Header-Left -->

                            <!-- Start Header-Right -->
                            <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-2 header-right">

                                <!-- Start Social -->
                                <ul class="header-social custom-list">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="{{path('login')}}"><i class="fa fa-key"></i> Connexion</a></li>
                                </ul>
                                <!-- End Social -->


                                <!-- Start Header-Language -->
                                <div class="header-language">
                                    <button class="header-btn">
                                        <i class="fa fa-globe"></i>
                                        EN
                                    </button>
                                    <nav class="header-form">
                                        <ul class="custom-list">
                                            <li class="active"><a href="#">EN</a></li>
                                            <li><a href="#">DE</a></li>
                                            <li><a href="#">FR</a></li>
                                            <li><a href="#">IT</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- End Header-Language -->

                            </div>
                            <!-- End Header-Right -->

                        </div>
                    </div>
                </div>
                <!-- End Header-tool-bar -->

                <!-- Start Header-Nav -->
                <div class="header-nav">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">

                                <!-- Start Nav -->
                                <nav role="navigation">
                                    <ul class="nav navbar-nav">
                                        <li class="has-submenu"><a href="{{path('home')}}">Home</a></li>
                                        <li class="has-submenu">
                                            <a href="#">Immobilier</a>
                                            <ul class="sub-menu custom-list">
                                                <li><a href="{{ path('pages.hotels') }}">Réservation d'hôtel</a></li>
                                                <li><a href="{{ path('pages.chalets') }}">Chalet</a></li>
                                                <li><a href="#">Résidence</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{ path('pages.drivers') }}">Drivers</a></li>
                                        <li><a href="#">Restaurants</a></li>
                                    </ul>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="has-submenu">
                                            <a href="#">Événementiel</a>
                                            <ul class="sub-menu custom-list">
                                                <li><a href="#">Entreprise</a></li>
                                                <li><a href="#">Particulier</a></li>
                                            </ul>
                                        <li><a href="#">Testimonials</a></li>
                                        <li class="has-submenu">
                                            <a href="#">News</a>
                                            <ul class="sub-menu custom-list">
                                                <li><a href="#">Single New Post</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="{{ path('contact') }}">Contact</a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- End Nav -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Header-Nav -->

            </div>
            <!-- End Header-Inner -->

            <div class="css-table">
                <div class="css-table-cell">

                    <!-- Start Banner-Search -->
                    <div class="banner-search">
                        <div class="container">
                            <div id="hero-tabs" class="banner-search-inner">
                                <ul class="custom-list tab-title-list clearfix">
                                    <li class="tab-title active"><a href="#yachts">Yachts</a></li>
                                    <li class="tab-title"><a href="#privjet">Private Jet Charter</a></li>
                                    <li class="tab-title"><a href="#luxcars">Limmo/Luxury Cars</a></li>
                                    <li class="tab-title"><a href="#cartrans">Car transfer</a></li>
                                </ul>
                                <ul class="custom-list tab-content-list">

                                    <!-- Start Yachts -->
                                    <li class="tab-content active">
                                        <form action="{{ path('home') }}" class="default-form">
                          <span class="where-input">
                            <input type="text" placeholder="Where">
                          </span>
                                            <span class="hire-input calendar">
                            <input type="text" name="hireOn" placeholder="Hire On" data-dateformat="m/d/y">
                            <i class="fa fa-calendar"></i>
                          </span>
                                            <span class="return-input calendar">
                            <input type="text" name="Retun On" placeholder="Return On" data-dateformat="m/d/y">
                            <i class="fa fa-calendar"></i>
                          </span>
                                            <span class="model select-box">
                            <select name="model" data-placeholder="Model">
                              <option>Model</option>
                              <option value="1">Model 1</option>
                              <option value="2">Model 2</option>
                              <option value="3">Model 3</option>
                            </select>
                          </span>
                                            <span class="submit-btn">
                            <button class="btn light">Book Now</button>
                            <a href="#">Advanced Search</a>
                          </span>
                                        </form>
                                    </li>
                                    <!-- End Yachts -->

                                    <!-- Start Privjet -->
                                    <li class="tab-content">
                                        <form class="default-form">
                          <span class="point-a select-box">
                             <select name="point b" data-placeholder="Point A">
                              <option>Point A</option>
                              <option value="1">Point B</option>
                              <option value="2">Point C</option>
                              <option value="3">Point D</option>
                            </select>
                          </span>
                                            <span class="point-b select-box">
                             <select name="point a" data-placeholder="Point B">
                              <option>Point B</option>
                              <option value="1">Point C</option>
                              <option value="2">Point D</option>
                              <option value="3">Point E</option>
                            </select>
                          </span>
                                            <span class="departure-input calendar">
                            <input type="text" placeholder="Departure">
                            <i class="fa fa-calendar"></i>
                          </span>
                                            <span class="arrival-input calendar">
                            <input type="text" placeholder="Arrival">
                            <i class="fa fa-calendar"></i>
                          </span>
                                            <span class="people select-box">
                            <select name="people" data-placeholder="People">
                              <option>People</option>
                              <option value="1">2</option>
                              <option value="2">3</option>
                              <option value="3">4</option>
                            </select>
                          </span>
                                            <span class="submit-btn">
                            <button class="btn light">Book Now</button>
                            <a href="#">Advanced Search</a>
                          </span>
                                        </form>
                                    </li>
                                    <!-- End Privjet -->

                                    <!-- Start Luxcars -->
                                    <li class="tab-content">
                                        <form class="default-form">
                          <span class="where-input">
                            <input type="text" placeholder="From Where">
                          </span>
                                            <span class="hire-input calendar">
                            <input type="text" placeholder="Hire On">
                            <i class="fa fa-calendar"></i>
                          </span>
                                            <span class="return-input calendar">
                            <input type="text" placeholder="Return On">
                            <i class="fa fa-calendar"></i>
                          </span>
                                            <span class="model select-box">
                            <select name="model" data-placeholder="Model">
                              <option>Model</option>
                              <option value="1">Model 1</option>
                              <option value="2">Model 2</option>
                              <option value="3">Model 3</option>
                            </select>
                          </span>
                                            <span class="submit-btn">
                            <button class="btn light">Book Now</button>
                            <a href="#">Advanced Search</a>
                          </span>
                                        </form>
                                    </li>
                                    <!-- End Luxcars -->

                                    <!-- Start Car-trans -->
                                    <li class="tab-content">
                                        <form class="default-form">
                          <span class="point-a select-box">
                             <select name="point b" data-placeholder="Point A">
                              <option>Point A</option>
                              <option value="1">Point B</option>
                              <option value="2">Point C</option>
                              <option value="3">Point D</option>
                            </select>
                          </span>
                                            <span class="point-b select-box">
                             <select name="point a" data-placeholder="Point B">
                              <option>Point B</option>
                              <option value="1">Point C</option>
                              <option value="2">Point D</option>
                              <option value="3">Point E</option>
                            </select>
                          </span>
                                            <span class="departure-input calendar">
                            <input type="text" placeholder="Departure">
                            <i class="fa fa-calendar"></i>
                          </span>
                                            <span class="arrival-input calendar">
                            <input type="text" placeholder="Arrival">
                            <i class="fa fa-calendar"></i>
                          </span>
                                            <span class="people select-box">
                            <select name="people" data-placeholder="People">
                              <option>People</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                            </select>
                          </span>
                                            <span class="submit-btn">
                            <button class="btn light">Book Now</button>
                            <a href="#">Advanced Search</a>
                          </span>
                                        </form>
                                    </li>
                                    <!-- End Car-trans -->

                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Banner-Search -->

                </div>
            </div>

        </div>
        <!-- End Banner -->

    </header>
    <!-- End Header -->

    <!-- Start About -->
    <section class="about">
        <div class="container">
            <div class="row">

                <!-- Start Preamble -->
                <div class="col-lg-12 preamble">
                    <h3>About Concierge</h3>
                    <img src="{{ asset('img/divisor.png') }}" alt="" class="divisor">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.</p>
                </div>
                <!-- End Preamble -->

                <!-- Start Package -->
                <div class="package col-lg-3 col-sm-6">
                    <div class="package-inner">
                        <div class="package-value">
                            <span class="package-unit">$</span>
                            <span class="package-cost">899</span>
                            <span class="package-per">monthly</span>
                        </div>
                        <div class="package-label"><h5>Silver</h5></div>
                    </div>
                    <div class="package-include">
                        <h5>Package Include</h5>
                        <ul class="custom-list">
                            <li>3 Car Transfers</li>
                            <li>1 Limmo/Luxury Rental</li>
                            <li>No Private Charters</li>
                            <li>No Yacht</li>
                        </ul>
                    </div>
                    <a href="#" class="btn dark">Sign Up Now</a>
                </div>
                <!-- End Package -->

            </div>
        </div>
    </section>
    <!-- End About -->

    <!-- Start Testimonials -->
    <section class="testimonials">

        <!-- Start Video Background -->
        <div id="video_testimonials" data-vide-bg="video/ocean" data-vide-options="position: 0% 50%"></div>
        <div class="video_gradient"></div>
        <!-- End Video Background -->

        <div class="container">
            <div class="row">

                <!-- Start Preamble -->
                <div class="preamble">
                    <h3>Testimonials</h3>
                    <img src="{{ asset('img/divisor2.png') }}" alt="" class="divisor">
                </div>
                <!-- End Preamble -->

                <div id="owl-testimonials" class="owl-carousel owl-theme">

                    <!-- Start Item -->
                    <div class="item">
                        <blockquote class="quote">
                            <cite>John Doe<span class="job">CEO - UOUapps</span></cite>
                            <p class="stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui.
                        </blockquote>
                    </div>
                    <!-- End Item -->

                    <!-- Start Item -->
                    <div class="item">
                        <blockquote class="quote">
                            <cite>John Doe<span class="job">CEO - UOUapps</span></cite>
                            <p class="stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui.
                        </blockquote>
                    </div>
                    <!-- End Item -->

                    <!-- Start Item -->
                    <div class="item">
                        <blockquote class="quote">
                            <cite>John Doe<span class="job">CEO - UOUapps</span></cite>
                            <p class="stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui.
                        </blockquote>
                    </div>
                    <!-- End Item -->

                </div>

            </div>
        </div>
    </section>
    <!-- End Testimonials -->

    <!-- Start Supertabs -->
    <section class="supertabs">
        <div class="container">
            <div class="row">

                <!-- Start Tabs-Navigation -->
                <div class="col-lg-4 col-md-4 tabs-navigation">
                    <ul class="custom-list tab-title-list">
                        <li data-href="#fleet">
                            <h5>Our Fleet</h5>
                            <p>Modern. Safe. Luxurious.</p>
                        </li>
                        <li data-href="#drivers">
                            <h5>Drivers On Call</h5>
                            <p>Experience & Class</p>
                        </li>
                        <li data-href="#ourlocs">
                            <h5>Our Locations</h5>
                            <p>We Are Available</p>
                        </li>
                    </ul>
                </div>
                <!-- End Tabs-Navigation -->

                <div class="clearfix visible-sm visible-xs"></div>

                <!-- Start Tabs-Content -->
                <div class="col-lg-8 col-md-8 tabs-content">
                    <ul class="custom-list tab-content-list">

                        <!-- Start Fleet -->
                        <li id="fleet" data-bgimage="img/supertabs3.png">
                            <div class="heading">
                                <h5>Our Fleet</h5>
                                <p>Modern. Safe. Luxurious.</p>
                            </div>
                            <cite>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac.</cite>
                        </li>
                        <!-- End Fleet -->

                        <!-- Start Drivers -->
                        <li id="drivers" data-bgimage="img/supertabs2.png">
                            <div class="heading">
                                <h5>Drivers On Call</h5>
                                <p>Experience & Class</p>
                            </div>
                            <cite>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac.</cite>
                        </li>
                        <!-- End Drivers -->

                        <!-- Start Ourlocs -->
                        <li id="ourlocs" data-bgimage="img/supertabs1.png">
                            <div class="heading">
                                <h5>Our Locations</h5>
                                <p>We Are Available</p>
                            </div>
                            <cite>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac.</cite>
                        </li>
                        <!-- End Ourlocs -->

                    </ul>
                </div>
                <!-- End Tabs-Content -->

            </div>
        </div>
    </section>
    <!-- End Supertabs -->


{% endblock %}