{% extends '_base.html.twig' %}
{% block body %}
<!-- Start Section Fleets -->
<section class="fleets">
    <div class="container">
        <div class="row">

            <!-- Start Filters -->
            <div class="col-lg-12 filter">
                <aside class="fleets-filters horizontal col-row">

                    <!-- Start Propeties Search Basic -->
                    <div class="fleets-search-basic">

                        <!-- Start Propities Search Type -->
                        <div class="default-form fleets-search-type">
                            <h5 class="filter-title">Vechicle Type</h5>
                            <span class="radio-input">
                    <input id="yachts" type="radio" name="filter_type" value="yachts" checked="checked">
                    <label for="yachts">Yachts</label>
                  </span>
                            <span class="radio-input">
                    <input id="jetplanes" type="radio" name="filter_type" value="jetplanes">
                    <label for="jetplanes">Jet Planes</label>
                  </span>
                            <span class="radio-input">
                    <input id="luxcars" type="radio" name="filter_type" value="luxurycars">
                    <label for="luxcars">Luxury Cars</label>
                  </span>
                            <span class="radio-input">
                    <input id="cars" type="radio" name="filter_type" value="cars">
                    <label for="cars">Cars</label>
                  </span>
                        </div>
                        <!-- End Propities Search Type -->

                        <form action="{{ path('home') }}" class="default-form">

                            <!-- Start Propities Availability -->
                            <div class="fleets-availability">
                                <h5 class="filter-title">Available on</h5>
                                <p class="form-row">
                      <span class="hire-input calendar">
                        <input type="text" name="hireOn" placeholder="Hire On" data-dateformat="m/d/y">
                        <i class="fa fa-calendar"></i>
                      </span>
                                </p>
                                <p class="form-row">
                      <span class="return-input calendar">
                        <input type="text" name="Retun On" placeholder="Return On" data-dateformat="m/d/y">
                        <i class="fa fa-calendar"></i>
                      </span>
                                </p>
                            </div>
                            <!-- End Propities Availability -->

                        </form>
                    </div>
                    <!-- End Propeties Search Basic -->

                    <!-- Start Properties Search Filter -->
                    <div class="fleets-search-filter">
                        <form action="{{ path('home') }}" class="default-form">

                            <!-- Start Propities Capacity -->
                            <div class="fleets-capacity">
                                <h5 class="filter-title">Capacity (People)</h5>
                                <p class="form-row">
                    <span class="people select-box">
                      <select name="people" data-placeholder="People">
                        <option>People</option>
                        <option value="1">2</option>
                        <option value="2">3</option>
                        <option value="3">4</option>
                      </select>
                    </span>
                                </p>
                            </div>
                            <!-- End Propities Capacity -->

                            <!-- Start Price Range -->
                            <div class="slider-range-container cleafix">
                                <h5 class="filter-title">Price Range</h5>
                                <div class="slider-range" data-min="2000" data-max="100000" data-step="2000" data-default-min="2000" data-default-max="50000" data-currency="$"></div>
                                <div class="clearfix">
                                    <input type="text" class="range-from" value="$2000">
                                    <input type="text" class="range-to" value="$50000">
                                </div>
                            </div>
                            <!-- End Price Range -->

                            <!-- Start Additional-Services -->
                            <div class="fleets-additional-services">
                                <h5 class="filter-title">Additional Services</h5>
                                <ul class="custom-list additional-filter-list clearfix">
                                    <li>
                        <span class="checkbox-input">
                          <input type="checkbox" id="additional-filter-all-inclusive">
                          <label for="additional-filter-all-inclusive">All Inclusive</label>
                        </span>
                                    </li>
                                    <li>
                        <span class="checkbox-input">
                          <input type="checkbox" id="additional-filter-2way-flight" checked="checked">
                          <label for="additional-filter-2way-flight">2 Way Flight</label>
                        </span>
                                    </li>
                                    <li>
                        <span class="checkbox-input">
                          <input type="checkbox" id="additional-filter-business-package">
                          <label for="additional-filter-business-package">Business Package</label>
                        </span>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Additional-Services -->

                        </form>

                        <div class="filter-btn">
                            <form action="{{ path('home') }}" class="default-form">
                                <a href="#" class="btn dark">Filter Now</a>
                            </form>
                        </div>
                    </div>
                    <!-- End Propeties Search Filter -->

                </aside>
            </div>
            <!-- End Filters -->

            <!-- Start Fleets-Listing-Header -->
            <div class="col-lg-12">
                <div class="fleets-listing-header clearfix">
                    <h5>Available Rooms</h5>
                    <ul class="custom-list fleets-listing-pagination">
                        <li class="prev"><a href="#">Previous</a></li>
                        <li class="number"><a href="#" class="active">1</a></li>
                        <li class="number"><a href="#">2</a></li>
                        <li class="number"><a href="#">3</a></li>
                        <li class="number"><a href="#">4</a></li>
                        <li class="next"><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Fleets-Listing-Header -->

            <!-- Start Fleets List -->
            <div class="col-lg-3 col-md-4 col-sm-6 fleet-grid layout-grid">
                <div class="thumb fleet-thumb">
                    <div class="overlay">
                        <img src="{{ asset('img/fleet-vechicle6.jpg') }}" alt="">
                        <div class="overlay-shadow">
                            <div class="overlay-content">
                                <a href="fleet_unit_details.html" class="btn light">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fleet-vechicle-content">
                    <header class="fleet-vechicle-header">
                        <h5><a href="fleet_unit_details.html">Airbus A380</a></h5>
                        <span>Starting from $899</span>
                    </header>
                    <ul class="custom-list fleet-vechicle-properties">
                        <li>Vehicle Age <strong>4</strong></li>
                        <li>Capacity (People) <strong>16+4</strong> </li>
                        <li>Max Speed <strong>1 Ma</strong> </li>
                        <li>Fuel Capacity<strong>8 hours</strong></li>
                        <li>Max Weight<strong>2t</strong></li>
                        <li>Pilots (Min.)<strong>2</strong></li>
                    </ul>
                </div>
            </div>
            <!-- End Fleets List -->

        </div>
    </div>
</section>
<!-- End Section Fleets -->
{% endblock %}