{% extends 'layout.html.twig' %}

{% block title %}New Driver{% endblock %}

{% block body %}
    <div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <h1>Create new Driver</h1>

        {{ include('admin/driver/_form.html.twig') }}

        <a href="{{ path('admin.driver.index') }}">back to list</a>
    </div>
{% endblock %}
