{% extends 'layout.html.twig' %}

{% block title %}Driver{% endblock %}

{% block body %}
    <div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

        <h1>Driver</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ driver.id }}</td>
                    </tr>
                    <tr>
                        <th>Lastname</th>
                        <td>{{ driver.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Firstname</th>
                        <td>{{ driver.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Years_of_experience</th>
                        <td>{{ driver.yearsOfExperience }}</td>
                    </tr>
                    <tr>
                        <th>Languages</th>
                        <td>{{ driver.languages }}</td>
                    </tr>
                </tbody>
            </table>

            <a href="{{ path('admin.driver.index') }}" class="btn btn-primary">back to list</a>

            <a href="{{ path('driver.edit', {'id': driver.id}) }}" class="btn btn-secondary">edit</a>

        {{ include('admin/driver/_delete_form.html.twig') }}
    </div>
{% endblock %}
