<!DOCTYPE html>
<html lang="en-us">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <title>{% block title %}Concierge!{% endblock %}</title>
    <link rel="shortcut icon" href="#">
    {% block stylesheets %}
        <!-- GOOGLE FONTS-->
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:400italic' rel='stylesheet' type='text/css'>

    <!-- STYLESHEETS-->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
    <link href='{{ asset('css/owl.carousel.css') }}' rel="stylesheet">
    <link href='{{ asset('css/style.css') }}' rel="stylesheet">
    <link href='{{ asset('css/responsive.css') }}' rel="stylesheet">
    {% endblock %}

</head>
<body class="enable-fixed-header"><!-- Start Header -->
<header id="header" class="triangle header-title drivers">

    <!-- Menu toggle -->
    <label id="toggle" class="toggle"></label>

    <!-- Start Header-Inner -->
    <div class="header-inner cleafix">

        <!-- Start Header-Logo -->
        <div class="header-logo">
            <a href="{{ path('home') }}">
                <img src="{{ asset('img/logo.png') }}" alt="logo">
            </a>
        </div>
        <!-- End Header-Logo -->

        <!-- Start Header-Tool-Bar -->
        <div class="header-tool-bar">
            <div class="container">
                <div class="row">

                    <!-- Start Header-Left -->
                    <div class="col-lg-4 col-md-5 col-xs-12 header-left">

                        <!-- Start Header-Contact -->
                        <ul class="custom-list header-contact">
                            <li>
                                <i class="fa fa-phone"></i>
                                +1 (123) 456-7890
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <a href="mailto:example@example.com">
                                    example@example.com
                                </a>
                            </li>
                        </ul>
                        <!-- End Header-Contact -->

                    </div>
                    <!-- End Header-Left -->

                    <!-- Start Header-Right -->
                    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-2 header-right">

                        <!-- Start Social -->
                        <ul class="header-social custom-list">
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-key"></i>Connexion</a></li>
                        </ul>
                        <!-- End Social -->

                        <!-- Start Header-Language -->
                        <div class="header-language">
                            <button class="header-btn">
                                <i class="fa fa-globe"></i>
                                EN
                            </button>
                            <nav class="header-form">
                                <ul class="custom-list">
                                    <li class="active"><a href="#">EN</a></li>
                                    <li><a href="#">DE</a></li>
                                    <li><a href="#">FR</a></li>
                                    <li><a href="#">IT</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- End Header-Language -->

                    </div>
                    <!-- End Header-Right -->

                </div>
            </div>
        </div>
        <!-- End Header-tool-bar -->

        <!-- Start Header-Nav -->
        <div class="header-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <!-- Start Nav -->
                        <nav role="navigation">
                            <ul class="nav navbar-nav">
                                <li class="has-submenu"><a href="{{path('home')}}">Home</a></li>
                                <li class="has-submenu">
                                    <a href="#">Immobilier</a>
                                    <ul class="sub-menu custom-list">
                                        <li><a href="{{ path('pages.hotels') }}">Réservation d'hôtel</a></li>
                                        <li><a href="{{ path('pages.chalets') }}">Chalet</a></li>
                                        <li><a href="#">Résidence</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ path('pages.drivers') }}">Drivers</a></li>
                                <li><a href="#">Restaurants</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="has-submenu">
                                    <a href="#">Événementiel</a>
                                    <ul class="sub-menu custom-list">
                                        <li><a href="#">Entreprise</a></li>
                                        <li><a href="#">Particulier</a></li>
                                    </ul>
                                <li><a href="#">Testimonials</a></li>
                                <li class="has-submenu">
                                    <a href="#">News</a>
                                    <ul class="sub-menu custom-list">
                                        <li><a href="#">Single New Post</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{{ path('contact') }}">Contact</a>
                                </li>
                            </ul>
                        </nav>
                        <!-- End Nav -->

                    </div>
                </div>
            </div>
        </div>
        <!-- End Header-Nav -->

    </div>
    <!-- End Header-Inner -->
    {% block header %}
        <!-- Start Header-Title-Inner -->
        <div class="header-title-inner">
            <div class="container">
                <h3 class="pull-left">Drivers</h3>
                <ul class="custom-list breadcrumbs pull-right">
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="#">Drivers</a></li>
                </ul>
            </div>
        </div>
        <!-- End Header-Title-Inner -->
    {% endblock %}
</header>
<!-- End Header -->
{% block body %}
{% endblock %}
<!-- Start Partners -->
<section class="partners">
    <div class="container">
        <div class="row">

            <!-- Start Preamble -->
            <div class="col-lg-12 preamble">
                <h5>Our Partners</h5>
            </div>
            <!-- End Preamble -->

            <!-- Start Partner -->
            <div class="col-lg-3 col-md-3 col-sm-3 company">
                <a href="#"><img src="{{ asset('img/company1.png') }}" alt=""></a>
            </div>
            <!-- End Partner -->

            <!-- Start Partner -->
            <div class="col-lg-3 col-md-3 col-sm-3 company">
                <a href="#"><img src="{{ asset('img/company2.png') }}" alt=""></a>
            </div>
            <!-- End Partner -->

            <!-- Start Partner -->
            <div class="col-lg-3 col-md-3 col-sm-3 company">
                <a href="#"><img src="{{ asset('img/company3.png') }}" alt=""></a>
            </div>
            <!-- End Partner -->

            <!-- Start Partner -->
            <div class="col-lg-3 col-md-3 col-sm-3 company">
                <a href="#"><img src="{{ asset('img/company4.png') }}" alt=""></a>
            </div>
            <!-- End Partner -->

        </div>
    </div>
</section>
<!-- End Partners -->

<!-- Start Footer -->
<footer id="footer">
    <div class="container">

        <!-- Start Preamble -->
        <div class="col-lg-12 preamble">
            <img src="{{ asset('img/footer-logo.png') }}" alt="">
        </div>
        <!-- End Preamble -->

        <!-- Start Footer-Content -->
        <div class="footer-content">
            <div class="row">

                <!-- Start Widget-About -->
                <div class="col-lg-4 col-md-4 widget widget-about">
                    <h5>About Us</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Etiam sit amet lectus quis est congue mollis.</p>
                </div>
                <!-- End Widget-About -->

                <!-- Start Widget-News -->
                <div class="col-lg-4 col-md-4 widget widget-news">
                    <h5>Latest News</h5>
                    <ul class="custom-list">
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li><a href="#">Proin nibh augue suscipit scelerisque</a></li>
                        <li><a href="#">Etiam pellentesque aliquet tellus</a></li>
                    </ul>
                </div>
                <!-- End Widget-News -->

                <!-- Start Widget-Newsletter -->
                <div class="col-lg-4 col-md-4 widget widget-newsletter">
                    <h5>Newsletter</h5>
                    <form class="default-form">
                        <input type="text" name="newsletter" placeholder="Your Email Here">
                        <button class="btn light">Sign Up</button>
                    </form>
                </div>
                <!-- End Widget-Newsletter -->

                <!-- Start Widget-Social -->
                <div class="col-lg-4 col-md-4 widget widget-social">
                    <h5>Lets Stay in Touch</h5>
                    <ul class="custom-list social">
                        <li>
                            <a href="#"><i class="fa fa-facebook-square"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter-square"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin-square"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- End Widget-Social -->
            </div>
        </div>
    </div>
    <!-- End Footer-Content -->

    <!-- Start Footer-Copyrights -->
    <div class="footer-copyrights">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright 2014 © Concierge. All rights reserved. Powered by <a href="#">UOUapps</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer-Copyrights -->

</footer>
<!-- End Footer -->

    <a href="#" class="btn" id="back-to-top"><i class="fa fa-arrow-up"></i></a>

    <!-- SCRIPTS-->
    <script src="{{ asset('js/jquery-1.9.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/jquery.vide.min.js') }}"></script>
    <script src="{{ asset('js/jquery-ui-1.10.4.custom.min.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
    <script src="{{ asset('js/jquery.ba-outside-events.min.js') }}"></script>
    <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('js/jquery.placeholder.js') }}"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="{{ asset('js/gmap3.min.js') }}"></script>


</body>
</html>