<!DOCTYPE html>
<html lang="en-us">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <title>{% block title %}Concierge!{% endblock %}</title>
    <link rel="shortcut icon" href="#">
    {% block stylesheets %}
        <!-- GOOGLE FONTS-->
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>

        <!-- STYLESHEETS-->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
        <link href='{{ asset('css/owl.carousel.css') }}' rel="stylesheet">
        <link href='{{ asset('css/style.css') }}' rel="stylesheet">
        <link href='{{ asset('css/responsive.css') }}' rel="stylesheet">
    {% endblock %}



</head>
<body class="enable-fixed-header">
{% block body %}

{% endblock %}

<!-- Start Partners -->
<section class="partners">
    <div class="container">
        <div class="row">

            <!-- Start Preamble -->
            <div class="col-lg-12 preamble">
                <h5>Our Partners</h5>
            </div>
            <!-- End Preamble -->

            <!-- Start Partner -->
            <div class="col-lg-3 col-md-3 col-sm-3 company">
                <a href="#"><img src="{{ asset('img/company1.png') }}" alt=""></a>
            </div>
            <!-- End Partner -->

            <!-- Start Partner -->
            <div class="col-lg-3 col-md-3 col-sm-3 company">
                <a href="#"><img src="{{ asset('img/company2.png') }}" alt=""></a>
            </div>
            <!-- End Partner -->

            <!-- Start Partner -->
            <div class="col-lg-3 col-md-3 col-sm-3 company">
                <a href="#"><img src="{{ asset('img/company3.png') }}" alt=""></a>
            </div>
            <!-- End Partner -->

            <!-- Start Partner -->
            <div class="col-lg-3 col-md-3 col-sm-3 company">
                <a href="#"><img src="{{ asset('img/company4.png') }}" alt=""></a>
            </div>
            <!-- End Partner -->

        </div>
    </div>
</section>
<!-- End Partners -->
<!-- Start Footer -->
<footer id="footer">
    <div class="container">

        <!-- Start Preamble -->
        <div class="col-lg-12 preamble">
            <img src="{{ asset('img/footer-logo.png') }}" alt="">
        </div>
        <!-- End Preamble -->

        <!-- Start Footer-Content -->
        <div class="footer-content">
            <div class="row">

                <!-- Start Widget-About -->
                <div class="col-lg-4 col-md-4 widget widget-about">
                    <h5>About Us</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Etiam sit amet lectus quis est congue mollis.</p>
                </div>
                <!-- End Widget-About -->

                <!-- Start Widget-News -->
                <div class="col-lg-4 col-md-4 widget widget-news">
                    <h5>Latest News</h5>
                    <ul class="custom-list">
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li><a href="#">Proin nibh augue suscipit scelerisque</a></li>
                        <li><a href="#">Etiam pellentesque aliquet tellus</a></li>
                    </ul>
                </div>
                <!-- End Widget-News -->

                <!-- Start Widget-Newsletter -->
                <div class="col-lg-4 col-md-4 widget widget-newsletter">
                    <h5>Newsletter</h5>
                    <form class="default-form">
                        <input type="text" name="newsletter" placeholder="Your Email Here">
                        <button class="btn light">Sign Up</button>
                    </form>
                </div>
                <!-- End Widget-Newsletter -->

                <!-- Start Widget-Social -->
                <div class="col-lg-4 col-md-4 widget widget-social">
                    <h5>Lets Stay in Touch</h5>
                    <ul class="custom-list">
                        <li>
                            <a href="#"><i class="fa fa-facebook-square"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter-square"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin-square"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- End Widget-Social -->
            </div>
        </div>
    </div>
    <!-- End Footer-Content -->

    <!-- Start Footer-Copyrights -->
    <div class="footer-copyrights">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright 2014 © Concierge. All rights reserved. Powered by <a href="#">UOUapps</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer-Copyrights -->

</footer>
<!-- End Footer -->

<a href="#" class="btn" id="back-to-top"><i class="fa fa-arrow-up"></i></a>

<!-- SCRIPTS-->
<script src="{{ asset('js/jquery-1.9.1.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('js/jquery.vide.min.js') }}"></script>
<script src="{{ asset('js/jquery-ui-1.10.4.custom.min.js') }}"></script>
<script src="{{ asset('js/script.js') }}"></script>
<script src="{{ asset('js/jquery.ba-outside-events.min.js') }}"></script>
<script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('js/jquery.placeholder.js') }}"></script>

</body>
</html>