{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">{{ form_row(form.firstname) }}</div>
    <div class="col-md-6">{{ form_row(form.lastname) }}</div>
</div>
<div class="row">
    <div class="col-md-4">{{ form_row(form.years_of_experience) }}</div>
    <div class="col-md-8">{{ form_row(form.languages) }}</div>
</div>
{{ form_rest(form) }}
<button class="btn btn-primary">{{ button | default('Save') }}</button>
{{ form_end(form) }}
