{% extends 'layout.html.twig' %}

{% block title %}Edit Driver{% endblock %}

{% block body %}
    <div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

        <h1>Edit Driver</h1>

            {{ include('admin/driver/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('admin.driver.index') }}" class="btn btn-secondary">back to list</a>

            {{ include('admin/driver/_delete_form.html.twig') }}
    </div>
{% endblock %}
