{% extends 'layout.html.twig' %}

{% block title %}Driver index{% endblock %}


{% block body %}
<div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h1>Driver index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Years_of_experience</th>
                <th>Languages</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for driver in drivers %}
            <tr>
                <td>{{ driver.id }}</td>
                <td>{{ driver.lastname }}</td>
                <td>{{ driver.firstname }}</td>
                <td>{{ driver.yearsOfExperience }}</td>
                <td>{{ driver.languages }}</td>
                <td>
                    <a href="{{ path('driver.show', {'id': driver.id}) }}" class="btn btn-secondary">show</a>
                        <a href="{{ path('driver.edit', {'id': driver.id}) }}" class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('driver.new') }}" class="btn btn-primary">Create new</a>
</div>
{% endblock %}
